.burger--closed .burger__line {
  background-color: $text-content;
  width: 16px;
  height: 1.5px;
  display: block;
  position: relative;
}

.burger--closed .burger__line::before,
.burger--closed .burger__line::after {
  position: absolute;
  display: block;
  content: "";
  background-color: $text-content;
  width: 16px;
  height: 1.5px;
  top: -5px
}

.burger--closed .burger__line::after {
  top: 5px
}

.burger--opened .burger__line {
  background-color: $text-content;
  width: 16px;
  height: 1.5px;
  display: block;
  position: relative;
  transform: rotate(45deg);
}

.burger--opened .burger__line::after {
  position: absolute;
  display: block;
  content: "";
  background-color: $text-content;
  width: 16px;
  height: 1.5px;
  top: -5px;
  transform: rotate(90deg);
  top: 0;
  right: 0;
}


