.catalog {
  background-color: $background-medium;
  min-width: 320px;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__content-container {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
  }
}

.catalog__intro {
  @include intro;
  margin-bottom: 4px;
}

.catalog__title {
  @include medium-title;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.catalog__select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 10px;
    margin-bottom: 26px;
  }
}

.catalog__select-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.catalog__select {
  position: relative;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-transform: lowercase;
  color: $brand-color;
  width: 165px;
  padding: 4px 25px 4px 10px;
  height: 32px;
  -webkit-apperance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $brand-color-extra-light;
  }

  &:active + .catalog__select-icon {
    transform: rotate(180deg);
  }
}

.catalog__select-icon {
  position: absolute;
  pointer-events: none;
  right: 10px;
}

.catalog__card-list {
  @include list;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
  }
}
