.filter__group {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
}

.filter__radio {
  display: flex;
  flex-direction: column;
}

.filter__row {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filter__checkbox {
  display: flex;
  flex-direction: column;
}

.filter__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.filter__radio-marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: solid 2px $neutral-base;
  position: relative;

  .filter__radio-input[type="radio"]:hover + & {
    border-color: $brand-color-medium;
    background-color: #ddd5f3;
    box-shadow: inset 0 0 0 2px $background-light;
  }

  .filter__radio-input[type="radio"]:checked + & {
    border: solid 2px $brand-color;
    background-color: $brand-color;
    box-shadow: inset 0 0 0 2px $background-light;
  }

  .filter__radio-input[type="radio"]:disabled + & {
    border-color: $neutral-base-light;
    background-color: $background-medium;
  }

  .filter__radio-input[type="radio"]:checked:disabled + & {
    border-color: $neutral-base-light;
    background-color: $neutral-base-light;
    box-shadow: inset 0 0 0 2px $background-medium;
  }

  .filter__radio-input[type="radio"]:hover:disabled + & {
    box-shadow: none;
    background-color: $background-medium;
  }
}

.filter__radio-input[type="radio"]:disabled + .filter__label--radio {
  color: $neutral-base;
}

.filter__checkbox-input[type="checkbox"]:disabled + .filter__label--checkbox {
  color: $neutral-base;
}

.filter__checkbox-marker {
  width: 42px;
  height: 24px;
  border-radius: 12px;
  border: none;
  background-color: $neutral-base;
  position: relative;

  .filter__checkbox-input[type="checkbox"]:hover + & {
    box-shadow: inset 0 0 0 2px $brand-color-medium;
    background-color: $brand-color-light;
  }

  .filter__checkbox-input[type="checkbox"]:checked + & {
    background-color: $brand-color;
  }

  .filter__checkbox-input[type="checkbox"]:disabled + & {
    background-color: $neutral-base-light;

    &::before {
      background-color: $background-medium;
    }
  }

  .filter__checkbox-input[type="checkbox"]:hover:disabled + & {
    box-shadow: none;
  }

  .filter__checkbox-input[type="checkbox"]:checked:disabled + & {
    background-color: $neutral-base-light;

    &::before {
      background-color: $neutral-base;
    }
  }
}

.filter__checkbox-marker::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $background-light;
  top: 50%;
  left: 2px;
  transform: translate(0, -50%);
  transition: all .2s;

  .filter__checkbox-input[type="checkbox"]:checked + & {
    left: 20px;
  }
}

.filter__button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.filter__button {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.filter__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 318px;
  }
}
