.footer {
  min-width: 320px;
}

.footer__connainer {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1400px;
    padding: 17px 20px 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

.footer__navigation {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 223px 223px 223px;
    column-gap: 30px;
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    grid-template-columns: 318px 318px 318px;
    width: max-content;
  }
}

.footer__link-container-content {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 318px;
    gap: 50px;
  }
}

.footer__link-container,
.footer__navigation-container {
  border-bottom: 1px solid $brand-color-extra-light;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__navigation-container {
  padding-top: 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
  }
}

.footer__navigation-list {
  @include list;
}

.footer__navigation-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: $brand-color;
  letter-spacing: 0.3px;
  margin: 0;
  margin-bottom: 18px;
}

.footer__navigation-item {
  margin-bottom: 18px;

  &--address {
    margin-bottom: 16px;
  }

  &--phone {
    margin-bottom: 10px;
  }
}

.footer__navigation-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-content;

  &:hover,
  &:focus {
    color: $brand-color-medium;
  }

  &:active {
    color: $brand-color-dark;
  }
}

.footer__navigation-contact {
  line-height: 20px;
  color: $text-content;
  margin: 0;
  padding-left: 19px;

  &--address {
    padding-top: 2px;
    background-image: url("../../images/icon-address.svg");
    background-repeat: no-repeat;
    background-size: 13px 16px;
    background-position: top 4px left 0;
  }

  &--phone {
    background-image: url("../../images/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: 13px 16px;
    background-position: top 2px left 0;

    &:hover,
    &:focus {
      color: $brand-color-medium;
    }

    &:active {
      color: $brand-color-dark;
    }
  }
}

.footer__copyright {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.footer__copyright-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $neutral-base;
}

.footer__copyright-icon {
  fill: $neutral-base;
}

.footer__copyright-link {
  display: flex;
  gap: 4px;

  &:hover .footer__copyright-icon {
    fill: $brand-color;
  }

  &:active .footer__copyright-icon {
    fill: $brand-color-dark;
  }
}
