.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 320px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1400px;
    padding-left: 20px;
  }
}

.header {
  position: relative;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
