.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__navigation {
  @media (min-width: $tablet-width) {

  }
}
