.logo__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 60px;

  &:hover {
    transform: scale(1.03);
  }

  @media (min-width: $tablet-width) {
    width: max-content;
    padding-top: 22px;
    padding-bottom: 22px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.logo__link--footter {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 66px;
    justify-content: space-between;
    margin-right: 0;
    padding-top: 20px;
  }
}

.logo__image {
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.logo__image--footer {
  width: 82px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 170px;
  }
}

.logo__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    width: 130px;
    font-size: 12px;
  }
}

.logo {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logo--footer {
  @media (min-width: $desktop-width) {
    align-items: start;
    flex-direction: column;
  }
}

.logo__text--footer {
  @media (min-width: $desktop-width) {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}
