.pagination {
  @include list;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 20px;
  }
}

.pagination__button {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  border: none;
  background-color: $background-light;
  border-radius: 4px;
  padding: 8px;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $brand-color-medium;
    color: $text-content-light;
  }

  &:active {
    background-color: $brand-color-dark;
    color: $text-content-light;
  }

  &:disabled {
    background-color: $neutral-base-light;
    color: $text-content-light;
  }

  &:hover .pagination__button-text,
  &:focus .pagination__button-text {
    color: $text-content-light;
  }

  &:active .pagination__button-text {
    color: $text-content-light;
  }

  &:disabled .pagination__button-text {
    color: $text-content-light;
  }

  &:hover .pagination__button-icon,
  &:focus .pagination__button-icon {
    fill: $text-content-light;
  }

  &:active .pagination__button-icon {
    fill: $text-content-light;
  }

  &:disabled .pagination__button-icon {
    fill: $text-content-light;
  }
}

.pagination__button-link {
  font-size: 16px;
  line-height: 24px;
  color: $brand-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  flex-wrap: wrap;

  &--current {
    background-color: transparent;
    color: $text-content;
    font-weight: 600;
  }
}

.pagination__button-icon {
  fill: $brand-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__button-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 16px;
    line-height: 24px;
    color: $brand-color;
    padding-right: 12px;
    padding-left: 12px;
  }
}
