.slider-pagination__button {
  @media (min-width: $desktop-width) {
    display: block;
    width: 62px;
    height: 4px;
    background-color: $background-light;
    border: none;

    // &:focus {
    //   background-color: $brand-color-extra-light;
    // }
    &:hover {
      background-color: $brand-color-extra-light;
    }
    &:active {
      background-color: $brand-color;
    }
  }
}

.slider-pagination__button--curent {
  background-color: $brand-color;
}

.slider-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 70px;
    left: 50%;
    display: flex;
    gap: 8px;
    max-width: 360px;
    flex-wrap: wrap;
    transform: translate(-50%, 0px);

  }
}


