.slider-order {
  display: flex;
  gap: 20px;
  align-items: center;
}

.slider-order__price {
  display: flex;
  gap: 6px;
  align-items: center;
}

.slider-order__price__old {
  font-size: 16px;
  font-weight: 400;
  color: $brand-color;
  text-decoration: line-through;
}

.slider-order__price__new {
  font-size: 20px;
  font-weight: 600;
}

.slider-order__button {
  padding-left: 20px;
  padding-right: 20px;
}
