.social {
  @include list;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 160px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.social__link {
  display: block;
  padding: 10px;

  &:hover,
  &:focus {
    border-radius: 4px;
    background-color: $brand-color-extra-light;
  }

  &:active {
    border-radius: 4px;
    background-color: $brand-color-light;
  }

  &:hover .social__link-icon,
  &:focus .social__link-icon {
    fill: $brand-color;
  }
}

.social__link-icon {
  width: 20px;
  height: 20px;
  fill: $neutral-base;
}
